<!doctype html>
<title>Python Flask File Upload Example</title>
<div class="c_body">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </p>

    <div class="i_form">
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                    
                        <input class="fileInput" type="file" name="file" autocomplete="off" required>
                    
                        
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    </div>
</div>

<style>

.c_body{
    text-align: center;
 width: fit-content;
 padding: 50mm;
}

.i_form{
    text-align: left;
    width: 20%;
    
    margin: auto;
}

    
</style>